<div class="aboutPage">
    <p>Hello,</p>
    <p>I am Abhishek Akki, Software developer working in <strong>BWC Labs pvt. ltd.</strong> Completed my B.Tech in
        <strong>
            National Institute of Technology Karnataka, Surathkal.
        </strong>
    </p>
    <h2>Schooling</h2>
    <p>Completed my primary schooling in <strong>Shri Karasiddeshwara Vidya Sanste, Ingalahalli</strong></p>, then for
    6th standard I got selected in <strong>Jawahar Navodaya Vidyalaya Dharwad</strong> by clearing <strong>JNVST</strong> exam, and
    completed my schooling and pre university education there. after completing my 12th standard I got selected in
    <strong>Dakshana Foundation</strong> for JEE mains and Advanced preparation and got selected in <strong>NITK Surathkal</strong> and choose Civil
    Engineering as my branch of study. Later I developed interest in software development and started learning software
    technologies and now working as a software developer in <strong>BWC Labs pvt. ltd.</strong>

    <h2>Hobbies</h2>
    <ul>
        <li>Playing cricket</li>
        <li>Playing football</li>
        <li>Playing Video Games</li>
        <li>Coding</li>
    </ul>
</div>