<div class="aboutPage">
    <h2>About Me</h2>
    <p>Hello,</p>
    <p>I'm <strong>Abhishek Akki</strong>, a passionate <strong>Software Developer</strong> at <strong>BWC Labs Pvt.
            Ltd.</strong>, with a strong foundation in engineering
        and a deep interest in technology. I hold a <strong>B.Tech</strong> in Civil Engineering from the
        <strong>National Institute of Technology Karnataka (NITK), Surathkal</strong>, where I discovered my enthusiasm
        for software development and began my journey into the tech world.
    </p>

    <h2>Education Journey</h2>
    <ul>
        <li><strong>Primary Schooling:</strong> Shri Karasiddeshwara Vidya Sanste, Ingalahalli</li>
        <li><strong>Secondary Schooling:</strong> Jawahar Navodaya Vidyalaya Dharwad</li>
        <li><strong>Pre-University Education:</strong> Jawahar Navodaya Vidyalaya Dharwad</li>
        <li><strong>Undergraduate Education:</strong> National Institute of Technology Karnataka (NITK), Surathkal</li>
    </ul>

    <h2>Professional Experience</h2>
    <p>Currently, I work at <strong>BWC Labs Pvt. Ltd.</strong>, where I contribute to building scalable and efficient
        software
        solutions. My role involves frontend development, problem-solving, and continuous learning to stay ahead in
        the ever-evolving tech landscape.
    </p>

    <h2>Technical Skills</h2>
    <ul>
        <li><strong>Programming Languages:</strong> Javascript, Typescript, Basic Java</li>
        <li><strong>UI Component Libraries & Frameworks:</strong> Angular Material, Vuetify, Bootstrap</li>
        <li><strong>Frontend Frameworks & Libraries:</strong> Angular.js, Vue.js</li>
        <li><strong>State Management & Reactive Programming:</strong> RxJs</li>
        <li><strong>WebTechnologies & Styling:</strong> HTML, CSS, SCSS</li>
        <li><strong>Version Control &Collaboration:</strong> Git, Tortoise SVN</li>
    </ul>
</div>